@{
    ViewData["Title"] = "Blog";
}
         <link rel="stylesheet" type="text/css" href="~/Blog.css">
 
    <section id="trending-category" class="trending-category section py-5">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="container" data-aos="fade-up">
          <div class="row g-5">
            <div class="col-lg-4">

              <div class="post-entry lg">
                <span><img src="~/logo/Untitled_design-removebg-preview.png" alt="" class="img-fluid"></span>
                <div class="post-meta"><span class="date">Published</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                <h2>
               
                  <span class="Author_title">The Architects of the Loop: Meet the Authors</span></h2>
                <p class="mb-4 d-block">The power of "Halaqat al-Zanb" lies in its diversity. Four distinct voices came together, each bringing a unique psychological lens to the theme of guilt, creating a rich, multi-dimensional experience for the reader.
</p>

                <div class="d-flex align-items-center author">
                  <div class="name">
                    <h3 class="m-0 p-0">Mamdouh Emad</h3>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-8">
              <div class="row g-5">
                <div class="col-lg-4 border-start custom-border">
                  <div class="post-entry">
                    <a href="blog-details.html"><img src="~/blog_img/blog_members/mamdo7.jpeg" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">Mamdouh Emad:</span><span class="mx-1">•</span><span>Author</span></div>
                    <h2><span class="Author_title">His writing challenges the reader to look at the "Drama Curve" of life not as a series of failures, but as a path </س></h2>
                  </div>
                  <div class="post-entry">
                    <a href="blog-details.html"><img src="~/blog_img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">Rana Raouf</span> <span class="mx-1">•</span> <span>Author</span></div>
                    <h2><span class="Author_title">Rana’s strength lies in her psychological precision. She analyzes the "Gray Characters" of our lives with incredible detail, </span></h2>
                  </div>
                  <div class="post-entry">
                    <a href="blog-details.html"><img src="~/blog_img/post-landscape-7.jpg" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">Aia al-Menshawy</span> <span class="mx-1">•</span> <span>Author</span></div>
                    <h2><a href="blog-details.html">Why Craigslist Tampa Is One of The Most Interesting Places On the Web?</a></h2>
                  </div>
                </div>
                <div class="col-lg-4 border-start custom-border">
                  <div class="post-entry">
                    <a href="blog-details.html"><img src="~/blog_img/blog_members/nour.jpeg" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">Nouran Bassiony</span> <span class="mx-1">•</span> <span>Author</span></div>
                    <h2><span class="Author_title">Nouran has a rare gift for capturing the "Human Impact" of unspoken emotions. Her stories dive into the silent corners of the soul </span></h2>
                  </div>
                  <div class="post-entry">
                    <span><img src="~/blog_img/blog_members/Alia.jpg" alt="" class="img-fluid"></س>
                    <div class="post-meta"><span class="date">Aia al-Menshawy</span> <span class="mx-1">•</span> <span>Author</span></div>
                    <h2><span class="Author_title">focusing on the strength required to find a Safe Exit. She doesn't just document the struggle; she maps out the escape, </span></h2>
                  </div>
                 
                </div>

                <!-- Trending Section -->
                <div class="col-lg-4">

                  <div class="trending">
                    <h3>Trending</h3>
                    <ul class="trending-post">
                      <li>
                        <a>
                          <span class="number">1</span>
                          <h3>A high-stakes journey of survival and liberation between intense action and deep philosophical questions</h3>
                          <span class="author">Arkhabil El Molouk</span>
                        </a>
                      </li>
                    <li>
                        <a>
                          <span class="number">1</span>
                          <h3>A high-stakes journey of survival and liberation between intense action and deep philosophical questions</h3>
                          <span class="author">Arkhabil El Molouk</span>
                        </a>
                      </li>
                     <li>
                        <a>
                          <span class="number">1</span>
                          <h3>A high-stakes journey of survival and liberation between intense action and deep philosophical questions</h3>
                          <span class="author">Arkhabil El Molouk</span>
                        </a>
                      </li>
                    <li>
                        <a>
                          <span class="number">1</span>
                          <h3>A high-stakes journey of survival and liberation between intense action and deep philosophical questions</h3>
                          <span class="author">Arkhabil El Molouk</span>
                        </a>
                      </li>
                     <li>
                        <a>
                          <span class="number">1</span>
                          <h3>A high-stakes journey of survival and liberation between intense action and deep philosophical questions</h3>
                          <span class="author">Arkhabil El Molouk</span>
                        </a>
                      </li>
                    </ul>
                  </div>

                </div> <!-- End Trending Section -->
              </div>
            </div>

          </div> <!-- End .row -->
        </div>

      </div>

    </section><!-- /Trending Category Section -->
