@model bool
@if (Model)
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Dashboard" asp-action="Index">
            <i class="bi bi-grid-1x2 me-1"></i>Dashboard
        </a>
    </li>
}
